<div class="container">
  <h1>Welcome <% if current_user %>
    <a href="/session/profile"><%= current_user.email%></a>

    <% else %>
    <%= "Stranger" %>
    <% end %>
    to URL Butchers!</h1>
    <p>We chop your URLS down to byte sizes!</p>
    <form id="chopper" method="post" action="/urls">
      <input type="text" name="originalurl" placeholder="Enter a valid url here">
      <input type="hidden" name="user_id" value="<%= current_user.id if current_user %>">
      <input type="submit" value="chop it!">
    </form>
    <p>Browse what other URL butchers are chopping up!</p>
    <table border="5" class="profile">
      <tr>
        <td>Original:</td> 
        <td>Shortened</td>
        <td>Hits</td>
      </tr>
      <% unless @all_urls == [] %>
      <% @all_urls.each do |url| %>
      <tr>
        <td><a href="http://<%= url.originalurl %>"><%= url.originalurl %></a></td>
        <td><a href="/<%= url.shorturl %>">www.ubu.pw/<%= url.shorturl %></a></td>
        <td><%= url.counter %></td>
      </tr>
      <% end %>
    </table>

      <% else %>
      <li><%= "You have no urls. Let's create some" %></li>
      <% end %>
    </ol>
  </div>
